@font-face {
  font-family: "Pokemon Solid";
  src: url("Fuente-pokemon/Pokemon\Solid.ttf") format("truetype");
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 200px;
  padding: 20px;
}

h1 {
  font-family: "Pokemon Solid";
  font-weight: bold;
  color: #1e90ff;
  margin: 0;
  font-size: 20px;
  text-align: center;
}


.container {
  display: flex;
  position: relative;

}


ul {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search button {
  width: 70px;

}



.menu {
  width: 40%;
  background-color: #1e90ff;

}


#pokemon-grid {

  display: flex;
  flex-wrap: wrap;
  /* Agregar bordes redondeados */
  border-radius: 10px;

  /* Agregar una sombra */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right, #f58f9a, #fcd7da, #f3e2e8, #f9ebf2);
  margin-left: 10px;

}

input {
  border-radius: 10px;
}



.pokemon-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1e90ff;
  width: 100px;
  ;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid black;
  margin: 10px;
  border-radius: 20px;


}

.pokemon-card img {
  width: 100px;
}

button {
  border-radius: 10px;
  border-color: #f87da8;
  
}

@keyframes rainbow {
  0% {
    border-color: #f9ebf2;
  }

  14% {
    border-color: #f3e2e8;
  }

  28% {
    border-color: #fcd7da;
  }

  42% {
    border-color: #f58f9a;
  }

  57% {
    border-color: #c03eaa;
  }

  71% {
    border-color: rgb(255, 76, 210);
  }

  85% {
    border-color: violet;
  }

  100% {
    border-color: rgb(252, 146, 243);
  }
}

.pokemon-card {
  border: 3px solid;
  animation: rainbow 5s linear infinite;
}

nav.menu {
  /* Agregar bordes redondeados */
  border-radius: 10px;

  /* Agregar una sombra */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  /* Agregar un fondo con un gradiente */
  background-image: linear-gradient(to right, #f9ebf2, #f3e2e8, #fcd7da, #f58f9a);
}