/* Definición de la fuente personalizada "Pokemon Solid" */
/* @font-face {
  font-family: 'Lato', sans-serif;
  src: url("Fuente-pokemon/Pokemon\Solid.ttf") format("truetype");
} */
body {
  font-family: 'Lato', sans-serif;
}

/* Estilos para el encabezado */
header {
  display: flex;
  /* Mostrar los elementos internos en línea */
  align-items: center;
  /* Centrar verticalmente los elementos */
  justify-content: space-evenly;
  /* Distribuir el espacio entre los elementos de manera uniforme */
  background-color: rgba(25, 0, 138, 0.5);
  /* Fondo semitransparente blanco */
  border-radius: 10px;
  /* Borde redondeado */
}

/* Estilos para el logo */
#logo {
  width: 100px;
  /* Ancho del logo */
  background-color: transparent;
  /* Fondo transparente */
}

/* Estilos para los encabezados de nivel 1 */
h1 {
  font-family: 'Lato', sans-serif;
  /* Usar la fuente personalizada */
  font-weight: bold;
  /* Negrita */
  color: #ffffff;
  /* Color azul */
  margin: 0;
  /* Margen cero para el encabezado */
  font-size: 25px;
  /* Tamaño de fuente */
  text-align: center;
  /* Centrar el texto */

}

/* Estilos para el contenedor principal */
.container {
  flex-direction: column;
  /* Columnas flexibles */
  align-items: center;
  /* Centrar elementos horizontalmente */
  /* position: relative; */
}

/* Estilos generales para el cuerpo de la página */
body {
  background-image: url("https://www.roomforzoom.com/backgrounds/Pokemon-Go-Computer-generated-background-230.jpg");
  /* Imagen de fondo */
  background-size: 100vw 100vh;
  /* Tamaño de la imagen de fondo */
}

/* Estilos para listas no ordenadas */
ul {
  display: flex;
  /* Mostrar los elementos en línea */
  flex-direction: column;
  /* Organizar en columna */
}

/* Estilos para el campo de búsqueda */
.search {
  display: flex;
  /* Mostrar los elementos en línea */
  align-items: center;
  /* Centrar verticalmente los elementos */
}

.search button {
  width: 80px;
  /* Ancho del botón de búsqueda */
}

/* Estilos para botones específicos */
#filterButton,
#orderButton,
#ascendingButton,
#descendingButton {
  margin-left: -65px;
  /* Mover los botones hacia la izquierda */
}

/* Estilos para el menú */
.menu {
  display: flex;
  /* Mostrar los elementos en línea */
  justify-content: space-between;
  /* Distribuir el espacio entre los elementos */
  align-items: center;
  /* Centrar verticalmente los elementos */
  width: 100%;
  /* Ancho completo del menú */
  margin-bottom: 10px;
  /* Margen inferior */
}

/* Estilos para el contenedor de los Pokémon */
#pokemon-grid {
  display: flex;
  /* Mostrar los elementos en línea */
  flex-wrap: wrap;
  /* Envolver los elementos en varias líneas */
  justify-content: center;
  /* Centrar horizontalmente los elementos */
  border-radius: 10px;
  /* Borde redondeado */
}

/* Estilos para campos de entrada */
input {
  border-radius: 10px;
  /* Borde redondeado */
  font-family: 'Lato', sans-serif;
}

/* Estilos para las tarjetas de Pokémon */
.pokemon-card {
  display: flex;
  /* Mostrar los elementos en línea */
  align-items: center;
  /* Centrar verticalmente los elementos */
  flex-direction: column;
  /* Organizar en columna */
  align-items: center;
  /* Centrar horizontalmente los elementos */
  border: 1px solid #1e90ff;
  /* Borde sólido azul */
  width: 100px;
  /* Ancho de la tarjeta */
  text-align: center;
  /* Centrar el texto */
  text-transform: capitalize;
  /* Transformar el texto en mayúscula la primera letra */
  border: 1px solid black;
  /* Borde sólido negro */
  margin: 10px;
  /* Margen */
  border-radius: 20px;
  /* Borde redondeado */
  background-color: rgba(75, 78, 248, 0.5);
  /* Fondo semitransparente blanco */
}

p {
  
  font-family: 'Lato', sans-serif;
  color:#000000;
}

/* Estilos para imágenes de Pokémon en las tarjetas */
.pokemon-card img {
  width: 100px;
  /* Ancho de la imagen */
}

/* Estilos generales para botones */
button {
  border-radius: 10px;
  /* Borde redondeado */
  border-color: #24cbaa;
  border-width: 15px
  /* Color del borde */
  padding: 5px 15px;
  margin: 10px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

select {
  font-family: 'Lato', sans-serif;
  border-radius: 10px;
}

/* Definición de la animación "rainbow" */
@keyframes rainbow {
  0% {
    border-color: #7a81e6;
  }

  14% {
    border-color: #b8f5f0;
  }

  28% {
    border-color: #0501f3;
  }

  42% {
    border-color: #03fafa;
  }

  57% {
    border-color: #00ffff;
  }

  71% {
    border-color: rgb(4, 48, 247);
  }

  85% {
    border-color: rgb(20, 3, 252);
  }

  100% {
    border-color: rgb(0, 255, 255);
  }
}

/* Aplicar animación "rainbow" a las tarjetas de Pokémon */
.pokemon-card {
  border: 3px solid;
  animation: rainbow 5s linear infinite;
}

datalist {
  max-height: 10px;
  /* Define la altura máxima deseada */
  overflow-y: auto;
  /* Agrega una barra de desplazamiento vertical si es necesario */
  width: 10%;
  /* Establece el ancho completo */
}

#dialog {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#dialog img {
  max-width: 100%;
  height: auto;
}

#dialog #dialogClose {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.pokemon-dialog {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pokemon-dialog button.close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.pokemon-info {
  text-align: center;
}

.pokemon-info img {
  max-width: 100%;
  height: auto;
}